<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO Test with EJS</title>
</head>
<body>
    <h1>Socket.IO Test with EJS</h1>
    <script src="https://cdn.socket.io/4.1.3/socket.io.min.js"></script>
    <script>
       const socket = io('http://localhost:8001', { withCredentials: true });// Replace YOUR_SERVER_PORT with your actual server port
        socket.on('connect', () => {
            console.log('Connected to server');
            socket.on('newNotice',async(data)=>{
                console.log('공지사항 등록 알람!!',data)
            })
            socket.on('newGroupRequest',async(data)=>{
                console.log('그룹 요청 알림!!',data)
            })
            socket.on('newGroupApprove',async(data)=>{
                console.log('그룹 수락 알림!!',data)
            })
        });
    </script>
</body>
</html>
